/* ------------------------------------------------------------ *\
	Note
\* ------------------------------------------------------------ */

.note {
	background-color: $blue; 
	position: relative; 
	min-height: 33.2rem;
	text-align: center; 
	font-size: 3.6rem; 
	display: flex; 
	align-items: center; 
	margin-top: 3.9rem; 
	padding: 1.6rem; 

	.note__pin {
		position: absolute; 
		top: -4rem; 
		left: 53%; 
		transform: translateX(-50%); 
	}
}
