/* ------------------------------------------------------------ *\
	section-notes
\* ------------------------------------------------------------ */

.section-notes {
	background-color: $white2; 
	border-radius: 0 19rem 0 0; 
	margin-top: -18rem; 
	padding: 8.1rem 0 20.5rem; 

	@include breakpoint-down(small-desktop) {
		border-radius: 0 9rem 0 0; 
	}

	@include breakpoint-down(tablet) {
		padding: 8rem 0; 
	}

	@include breakpoint-down(mobile) {
		border-radius: 0 4rem 0 0; 
	}

	.section__title {
		text-align: center; 
		padding-bottom: 5.4rem; 
	}

	.section__body {
		padding: 0 1.7rem; 
		margin: 0 -2.5rem; 

		@include breakpoint-down(tablet) {
			margin: 0 -1.9rem; 
			padding: 0; 
		}
	}

	.section__col {
		padding: 0 2.5rem; 

		@include breakpoint-down(tablet) {
			padding: 0 1.9rem 2rem; 
		}
	}
}
