/* ------------------------------------------------------------ *\
	Section-bio
\* ------------------------------------------------------------ */

.section-bio {
	background-color: $blue; 
	padding: 6.4rem 0 6.3rem; 

	.section__inner {
		background-color: $white2; 
		box-shadow: $box-shadow;
		margin: 0 2.9rem; 
		display: flex; 
		padding: 3rem 8.2rem 2.7rem 7.6rem; 

		@include breakpoint-down(large-desktop) {
			padding: 3rem 4rem 2.7rem; 
			margin: 0; 
		}

		@include breakpoint-down(tablet) {
			padding: 3rem 2rem 2.7rem; 
		}

		@include breakpoint-down(mobile) {
			flex-direction: column; 
		}
	}

	.section__image {
		img {
			width: 100%; 
			height: 100%; 
			object-fit: cover;
		}
	}

	.section__aside {
		flex: 0 0 40%;
		padding: 6.4rem 4.3rem 0 0; 

		@include breakpoint-down(mobile) {
			padding: 0; 
		}

		blockquote {
			font-family: $ff-inter; 
			background-color: $orange; 
			color: $c-white; 
			font-weight: 800; 
			font-size: 1.4rem; 
			line-height: 1.79; 
			padding: 2.9rem 1rem 1rem 3rem; 
			position: relative; 

			&:before {
				content: url('../images/temp/quote.svg'); 
				opacity: .2; 
				display: block; 
				position: absolute; 
				top: 1.7rem; 
				left: 1.8rem; 
			}
		}
	}
}
