/* ------------------------------------------------------------ *\
	Section-transparent
\* ------------------------------------------------------------ */

.section-transparent {
	background-color: rgba($c-white, .4); 
	border-radius: 0 19rem 0 0; 

	@include breakpoint-down(tablet) {
		border-radius: 0 8rem 0 0; 
	}

	.section__title {
		text-transform: uppercase; 
		color: $yellow; 
		font-size: 7.2rem; 
		font-weight: 900; 
		padding-bottom: 7.2rem; 
	}

	.section__inner {
		padding: 12.2rem 6.8rem 9.8rem; 
		font-weight: 700; 
		font-size: 5rem; 

		@include breakpoint-down(tablet) {
			padding: 10rem 0 9.8rem; 
			font-size: 4rem; 
		}

		@include breakpoint-down(mobile) {
			padding: 7rem 0; 
			font-size: 3rem; 
			text-align: center; 
		}

		.section__row {
			display: flex; 
			justify-content: space-between; 

			@include breakpoint-down(tablet) {
				margin: 0 -1rem; 
			}

			@include breakpoint-down(mobile) {
				flex-direction: column; 
			}
		}

		.section__col {
			width: 36%; 

			@include breakpoint-down(tablet) {
				width: 50%; 
				padding: 0 1rem; 
			}

			@include breakpoint-down(mobile) {
				width: 100%; 
			}
		}

		.section__col--1of2 {
			width: 51%; 

			@include breakpoint-down(tablet) {
				width: 50%; 
			}

			@include breakpoint-down(mobile) {
				width: 100%; 
			}
		}

		ul {
			list-style-type: none; 
		}

		li {
			padding-bottom: 3.4rem; 

			@include breakpoint-down(mobile) {
				padding-bottom: 2.8rem; 
			}
		}
	}
}
