/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	text-align: center; 

	ul {
		list-style-type: none; 
		padding: 0; 
	}

	a {
		text-decoration: none; 
		transition: opacity $t-duration; 

		&:hover {
			opacity: .7; 
		}

		svg {
			vertical-align: middle; 
		}
	}
}

/*  Socials--black  */

.socials--black {
	color: $c-black; 
}
