<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__aside">
				<nav class="nav" data-aos="zoom-in" data-aos-duration="500">
					<ul>
						<li class="is-active">
							<a href="../../index.html">
								<strong>EB</strong>
							</a>
						</li>
					</ul>
				</nav><!-- /.nav -->

				<nav class="nav nav--mobile">
					<ul>
						<li data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100">
							<a href="../../work.html">
								<strong>Work</strong>
							</a>
						</li>

						<li data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200">
							<a href="../../about.html">
								<strong>About</strong>
							</a>
						</li>

						<li data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
							<a href="../../contact.html">
								<strong>Contact</strong>
							</a>
						</li>
					</ul>
				</nav><!-- /.nav -->
			</div><!-- /.header__aside -->

			<div class="socials socials--black header__socials" data-aos="zoom-in" data-aos-duration="500">
				<ul>
					<li>
						<a href="https://www.linkedin.com/in/ewa-berning-7712a595/" target="_blank">
							<svg class="ico-linkedin">
								<use xlink:href="#ico-linkedin"></use>
							</svg><!-- /.ico-linkedin -->
						</a>
					</li>
				</ul>
			</div><!-- /.socials -->

			<a href="#" class="burger js-burger" data-aos="zoom-in" data-aos-duration="500">
				<span></span>

				<span></span>

				<span></span>
			</a>
		</div><!-- /.header__inner -->
	</div><!-- /.container -->
</header><!-- /.header -->
